:local .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

:local .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eee;
  border-radius: 2px;
  text-decoration: none;
  color: #444;
  padding: 10px;
  margin: 15px;
}

:local .image {
  width: 150px;
  height: 150px;
  border-radius: 2px;
  background-position: center;
  background-size: cover;
  margin-bottom: 10px;
}

:local .displayName {
  font-weight: bold
}

:local .username {
  color: #4CAF50;
  font-size: 14px;
}
