:local .list {
  width: 1050px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

:local .item {
  width: 206px;
  height: 206px;
  background-color: #ccc;
  border-radius: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 64px;
  color: #4CAF50;
  cursor: pointer;
  background-position: center;
  background-size: cover;
  border-radius: 2px;
}
