:local .background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../assets/ol_wisconse.jpg);
  background-position: center;
  background-size: cover;
  /*background-color: #4CAF50;*/
  display: flex;
  align-items: center;
  justify-content: center;
}

:local .form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

:local .input {
  opacity: 0.95;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  border: none;
  outline: none;
  margin: 10px;
  border-radius: 2px;
}

:local .button {
  font-size: 1em;
  opacity: 0.95;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 10px;
  background-color: transparent;
  color: #FFF;
  border-radius: 2px;
  padding: 5px 15px;
  transition: background 0.5s, color 0.5s;
}

:local .button:hover {
  background-color: #FFF;
  color: #444;
}

:local .error {
  margin: 10px;
  font-weight: bold;
  text-align: center;
  background-color: #F44336;
  color: #FFF;
  border-radius: 2px;
  padding: 10px;
}
